In [ ]:
#@title COMP216 Lab exercise 1.
# Please save this notebook as your name
#
# Please insert your name, student number, course and date
# is the proper spots below.
#
# copyrights Narendra Pershad
#

**Name: Narendra  
Sid: 123-456-789  
Course: COMP216-001  
Date: September 5, 2023**  

---

##Instructions
1. Complete the exercises as far as you possibly can
2. Rename the workbook to your first name  
3. Make sure that the notebook is shareable
4. Upload a link to the Assessment folder in brightspace  
5. You code must work even if the original variable changes
---
If you leave the notebook and/or start working at mid-way in the notebook, you will have to execute the first cell again to re-load the variable etc.
##Questions: [47.5 Marks]
- [Working with Sets](#set)
- [Working with Tuples](#tuple)
- [Working with Lists](#list)
- [Working with Dictionaries](#dict)
- [Conversions between Collections](#conversion)
- [Iterate a collection](#iterate)
- [Using the enumerate function](#enumerate)

In [ ]:
#imports and variables
from random import randint

#the following variable will be used in the rest of the exercise
pm = 'justin pierre james trudeau'
instructor = 'narendra pershad'
harry = "You've gotta ask yourself a question: do I feel lucky? â€¦well, do ya, punk?"
numbers = [randint(5, 10) for _ in range(20)]

##1. <a name="set"></a>Working with sets [8 Marks]

In [ ]:
# - 1 mark
# use the set constructor to create a set (assign the new set to a variable) from the variable 'instructor' and print it

In [ ]:
# - 1 mark
# use the add() method to add 'z' to the above set and print it

In [ ]:
# - 1 mark
#use the remove() method to take ' ' from the set and print it

In [ ]:
# - 1 mark
# define your own new set (assign the new set to a variable)
# use the intersection() method to find the common elements in both sets and print the result

In [ ]:
# - 1 mark
# use the union() method to find all the elements occuring in both sets and print the result

In [ ]:
# - 1 mark
#use the pop() method remove and return an arbitrary elements of the set and print it

In [ ]:
# - 1 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result

In [ ]:
# - 1 mark
#use the len() function to get the number of elements in the set and print the result

##2. <a name="tuple"></a>Working with tuples [6 Marks]
Because a tuple is immutable, methods like add(), remove(), pop() does not exist for tuples

In [ ]:
# - 1 mark
# Use the tuple constructor to create a tuple (assign the new set to a variable) from the variable pm and print it

In [ ]:
# - 3 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
## You can find a at index 15 of the tuple        #use the index() method
## There are 27 elements in the tuple             #use the len() function

In [ ]:
# - 1 mark
# use decomposition to print the first, second and the rest of the elements of your tuple

In [ ]:
# - 1 mark
# use array-like indexing to print the third and fifth element of your tuple

##3. <a name="list"></a>Working with list [10 Marks]

In [ ]:
# - 1 mark
# Use the list constructor to create a list  (assign the new set to a variable) from the variable 'harry' using the split() method
# of the string class and print it

In [ ]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
# use the insert() method to add 'Clint' at the start of the  list
# use the remove() method to remove 'question' from the list
# use the extend() method to add 'Dirty' and 'Harry' to the end of the list
# print the final list

In [ ]:
# - 2 marks
# use the sort() method to order the  list
# print the list
# use the reverse() method to reverse the list
# print the final list

In [ ]:
# - 3 mark
# write the statement to produced the following lines of output

## There are 2 do's in the list
## You can find "ask" at index 9 of the list
## There are 17 elements in the list

##4. <a name="dic"></a>Working with dictionary [4 Marks]

In [ ]:
#use the following dictionary for your exercises
d = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

In [ ]:
# - 1 mark
# display the dictionary

In [ ]:
# - 1 mark
# use the keys() and values() method to display the keys and values

In [ ]:
# - 2 mark
# Use the key-index technique to retrieve the name of program 3462
# Use the get() method to retrieve the name of program 3462
# It there a difference?

##5. <a name="conversion"></a>Converting from one collection to another [7.5 Marks]
There is free inter-conversions except for dictionary

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a set from each of the three previous collections
# (parts 2, 3 and 4) and print them.
# Notice the iterator variable the dictionary loop represents only the key

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a tuple from each of the three previous collections
# (parts 1, 3 and 4) and print them.
# Again, notice the iterator variable the dictionary loop represents only the key

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a list from each of the three previous collections
# (parts 1, 2 and 4) and print them.

##6. <a name="iterate"></a>Iterating a collection [4 Marks]
The for-in loop facilates iterating a collection

In [ ]:
# - 4 mark
# Use a for-in loop to print each of the previous collection: set, tuple, list and dict
# Notice the iterator variable the dictionary loop represents only the key

##7. <a name="enumerate"></a>Using the enumerate function [8 Marks]
This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [ ]:
# - 4 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection

In [ ]:
# - 4 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value