In [33]:
#@title COMP216 Lab exercise 1.
# Please save this notebook as your name
#
# Please insert your name, student number, course and date
# is the proper spots below.
#
# copyrights Narendra Pershad
#

**Name: Narendra  
Sid: 123-456-789  
Course: COMP216-001  
Date: September 5, 2023**  

---

##Instructions
1. Complete the exercises as far as you possibly can
2. Rename the workbook to your first name  
3. Make sure that the notebook is shareable
4. Upload a link to the Assessment folder in brightspace  
5. You code must work even if the original variable changes
---
If you leave the notebook and/or start working at mid-way in the notebook, you will have to execute the first cell again to re-load the variable etc.
##Questions: [47.5 Marks]
- [Working with Sets](#set)
- [Working with Tuples](#tuple)
- [Working with Lists](#list)
- [Working with Dictionaries](#dict)
- [Conversions between Collections](#conversion)
- [Iterate a collection](#iterate)
- [Using the enumerate function](#enumerate)

In [34]:
#imports and variables
from random import randint

#the following variable will be used in the rest of the exercise
pm = 'justin pierre james trudeau'
instructor = 'narendra pershad'
harry = "You've gotta ask yourself a question: do I feel lucky? …well, do ya, punk?"
numbers = [randint(5, 10) for _ in range(20)]

##1. <a name="set"></a>Working with sets [8 Marks]

In [35]:
# - 1 mark
# use the set constructor to create a set (assign the new set to a variable) from the variable 'instructor' and print it
instructor_set = set(instructor)
print(instructor_set)

{' ', 's', 'a', 'd', 'p', 'e', 'n', 'h', 'r'}

In [36]:
# - 1 mark
# use the add() method to add 'z' to the above set and print it
instructor_set.add('z')
print(instructor_set)

{'z', ' ', 's', 'a', 'd', 'p', 'e', 'n', 'h', 'r'}

In [37]:
# - 1 mark
#use the remove() method to take ' ' from the set and print it
instructor_set.remove(' ')
print(instructor_set)

{'z', 's', 'a', 'd', 'p', 'e', 'n', 'h', 'r'}

In [38]:
# - 1 mark
# define your own new set (assign the new set to a variable)
# use the intersection() method to find the common elements in both sets and print the result
new_set = {'a', 'r', 'e', 'd'}
common_elements = instructor_set.intersection(new_set)
print(common_elements)

{'d', 'e', 'a', 'r'}

In [39]:
# - 1 mark
# use the union() method to find all the elements occuring in both sets and print the result
all_elements = instructor_set.union(new_set)
print(all_elements)

{'z', 's', 'a', 'd', 'p', 'e', 'n', 'h', 'r'}

In [40]:
# - 1 mark
#use the pop() method remove and return an arbitrary elements of the set and print it
removed_element = instructor_set.pop()
print(removed_element)

z

In [41]:
# - 1 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result
instructor_set.update(['x', 'y', 'z'])
print(instructor_set)

{'z', 'y', 's', 'a', 'd', 'p', 'e', 'n', 'h', 'x', 'r'}

In [42]:
# - 1 mark
#use the len() function to get the number of elements in the set and print the result
set_length = len(instructor_set)
print(set_length)

11

##2. <a name="tuple"></a>Working with tuples [6 Marks]
Because a tuple is immutable, methods like add(), remove(), pop() does not exist for tuples

In [43]:
# - 1 mark
# Use the tuple constructor to create a tuple (assign the new set to a variable) from the variable pm and print it
pm_tuple = tuple(pm)
print(pm_tuple)

('j', 'u', 's', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u')

In [44]:
# - 3 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
## You can find a at index 15 of the tuple        #use the index() method
## There are 27 elements in the tuple             #use the len() function

e_count = pm_tuple.count('e')
a_index = pm_tuple.index('a')
tuple_length = len(pm_tuple)

print(f"There are {e_count} e's in the tuple")
print(f"You can find a at index {a_index} of the tuple")
print(f"There are {tuple_length} elements in the tuple")

There are 4 e's in the tuple
You can find a at index 15 of the tuple
There are 27 elements in the tuple

In [45]:
# - 1 mark
# use decomposition to print the first, second and the rest of the elements of your tuple
first, second, *rest = pm_tuple
print(first)
print(second)
print(rest)

j
u
['s', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u']

In [30]:
# - 1 mark
# use array-like indexing to print the third and fifth element of your tuple
print(pm_tuple[2])
print(pm_tuple[4])

s
i

##3. <a name="list"></a>Working with list [10 Marks]

In [31]:
# - 1 mark
# Use the list constructor to create a list  (assign the new set to a variable) from the variable 'harry' using the split() method
# of the string class and print it
harry_list = harry.split()
print(harry_list)

["You've", 'gotta', 'ask', 'yourself', 'a', 'question:', 'do', 'I', 'feel', 'lucky?', '…well,', 'do', 'ya,', 'punk?']

In [32]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
# use the insert() method to add 'Clint' at the start of the  list
# use the remove() method to remove 'question' from the list
# use the extend() method to add 'Dirty' and 'Harry' to the end of the list
# print the final list

harry_list.append('Eastwood')
harry_list.insert(0, 'Clint')
harry_list.remove('question')
harry_list.extend(['Dirty', 'Harry'])
print(harry_list)

ValueError: list.remove(x): x not in list

In [ ]:
# - 2 marks
# use the sort() method to order the  list
# print the list
# use the reverse() method to reverse the list
# print the final list

harry_list.sort()
print(harry_list)
harry_list.reverse()
print(harry_list)

In [ ]:
# - 3 mark
# write the statement to produced the following lines of output

do_count = harry_list.count('do')
ask_index = harry_list.index('ask')
list_length = len(harry_list)

print(f"There are {do_count} do's in the list")
print(f"You can find 'ask' at index {ask_index} of the list")
print(f"There are {list_length} elements in the list")

##4. <a name="dic"></a>Working with dictionary [4 Marks]

In [ ]:
#use the following dictionary for your exercises
d = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

In [ ]:
# - 1 mark
# display the dictionary
print(d)

In [ ]:
# - 1 mark
# use the keys() and values() method to display the keys and values
print(d.keys())
print(d.values())

In [ ]:
# - 2 mark
# Use the key-index technique to retrieve the name of program 3462
# Use the get() method to retrieve the name of program 3462
# It there a difference?

program_3462 = d[3462]
program_3462_get = d.get(3462)

print(program_3462)
print(program_3462_get)

##5. <a name="conversion"></a>Converting from one collection to another [7.5 Marks]
There is free inter-conversions except for dictionary

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a set from each of the three previous collections
# (parts 2, 3 and 4) and print them.
# Notice the iterator variable the dictionary loop represents only the key

tuple_set = set(pm_tuple)
list_set = set(harry_list)
dict_set = set(d)

print(tuple_set)
print(list_set)
print(dict_set)

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a tuple from each of the three previous collections
# (parts 1, 3 and 4) and print them.
# Again, notice the iterator variable the dictionary loop represents only the key

set_tuple = tuple(instructor_set)
list_tuple = tuple(harry_list)
dict_tuple = tuple(d)

print(set_tuple)
print(list_tuple)
print(dict_tuple)

In [ ]:
# - 2.5 marks
# Use the constructor to obtain a list from each of the three previous collections
# (parts 1, 2 and 4) and print them.

set_list = list(instructor_set)
tuple_list = list(pm_tuple)
dict_list = list(d)

print(set_list)
print(tuple_list)
print(dict_list)

##6. <a name="iterate"></a>Iterating a collection [4 Marks]
The for-in loop facilates iterating a collection

In [ ]:
# - 4 mark
# Use a for-in loop to print each of the previous collection: set, tuple, list and dict
# Notice the iterator variable the dictionary loop represents only the key

##7. <a name="enumerate"></a>Using the enumerate function [8 Marks]
This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [ ]:
# - 4 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection

In [ ]:
# - 4 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value