In [ ]:
Overview

In [1]:
print('Hello')

int('0b10')

Hello

ValueError: invalid literal for int() with base 10: '0b10'

In [1]:
print('Hello')

Hello

# String

In [3]:
# String Example

char1 = 'Foo'
char2 = 'Bar'
char3 = 'Baz'

char4 = char1 + char2 + char3 + char2
print(char4)

char5 = char1*5
print(char5)

FooBarBazBar

In [ ]:
# String Methods

print('~')
print(chr(126))

In [4]:
# String Indexing & Slicing
print(char4[1])
print(char4[0:3])
print(char4[0:7])

print(char4[-4:-1])

o
Foo
FooBarB
zBa

In [ ]:
print(id(char4), id(new_str))

In [5]:
#String
str(2)
pi = str(3.14)

'2'

In [8]:
pi = 3.14
print(pi, type(pi))

list_smpl = [23, 65, 98, 43]
list_str = str(list_smpl)
print(list_str)
list_str = list_str.replace('[', '').replace(']', '')
print(list_str)

3.14 <class 'float'>
[23, 65, 98, 43]

In [9]:
# String Methods
print(char4.upper())

FOOBARBAZBAR

In [12]:
# String Methods

char_modified = char4.upper()
print(char_modified, char4)

FOOBARBAZBAR FooBarBazBar

In [17]:
char6 = '1234904808794'
char_num_modified = char6.upper()
print(char_num_modified)
print(id(6), id(char_num_modified))

check1 = char4.isalpha()
print(check1)
check2 = char4.isdigit()
print(check2)
check3 = char6.isdigit()
print(check3)
check4 = 'COMP216'.isalnum()
print(check4)

1234904808794
139408667185224 139408039636208
True
False
True
True

In [22]:
#String Formatting
name = 'Peter'
age = 23
Account = 23490

statement = name + 'is' + str(age) + 'years ago'
print(statement)

Peteris23years ago

In [24]:
statement = name + 'is' + str(age) + ' years ago'
print(statement)

Peteris23years ago

In [23]:
statement2 = 'Hello, %s' %name
print(statement2)

Hello, Peter

In [26]:
statement3 = f'Hello, {name}'
print(statement3)

Hello, Peter

In [30]:
statement3 = f'Hello, {name.upper()} is {age} years old.'
print(statement3)

pi_value = 3.1415926
print(f'pi_value:.4f')

Hello, PETER is 23 years old.
3.1415926

In [32]:
asgn_mark = 0.67152
print(f"{asgn_mark:.2%}")

67.15%